.tracking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.bgTracking {
  width: 200px;
  height: 220px;
  border-radius: 22px;
  display: flex;
  align-items: flex-end;  
}
.dataTracking {
  padding: 2rem;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #1c1f4a;
}
.trackingTitle {
  font-size: .875rem;
}
.timeCTracking {
  padding: 1.5rem 0 .5rem 0;
  font-size: 2.5rem;
}
.timePTracking {
  font-size: .875rem;
}
@media(max-width : 680px) {
  .tracking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
  }
}
@media(max-width : 480px) {
  .tracking {
    display: grid;
    grid-template-columns:  1fr;
    justify-items: center;
    gap: 2rem;
  }
  .bgTracking {
    width: 300px;
    height: 220px;
  }
}